Flask==1.0
Werkzeug==0.12.2
Flask-Session
aliyun-python-sdk-core
Flask-Cache
flask-sqlalchemy
SQLAlchemy
Pillow
Flask-HTTPAuth
Flask-Compress
geoip2
flask_socketio
healthcheck
PyMySQL
gevent
gevent-websocket